body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 200;
    background-image: url(wallpaper.png)
}

.nav-bar li{
    display: inline;
    padding: 5px;
}

header {
    position: fixed;
    width: 100%;
    background-color: aliceblue;
    text-align:center;
    top: 0;
    left: 0;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 125%;
}

.intro {
    text-align: center;
}

.composers{
    text-align: justify;
}

.composers figure {
    display: inline-block;
    vertical-align: top;
    width: 100.56pt; 
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
    border-style: dashed;
    border-width: 2px;
    border-color: blueviolet;
    background-color: lavenderblush;
}
.composers figure figcaption{
    text-align:center;
    padding-top: 5pt;
    height: 38px;
    font-weight: bold;
}

.composers figure img{
    vertical-align: top;
    width: 100.56pt;
    height: 123pt;
}

.background {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 7%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    align-items: center;
    background-color: pink
}

.information img{
    width: 100%;
}
.relativekeys {
    text-align: center;
}
.relativekeys img{
    width: 60%;
}

.interpretation {
    text-align: justify;
}

.interpretation img{
    width: 100%;
}

figcaption {
    font-size: small;
    font-style: italic;
    text-align: center;
}

.quotedperson {
    text-align: right;
}
.quotedperson img{
    width: 20%;
    padding-right: 15%;
}

.link {
    list-style-type: none;
}